out/
vsix/
*.vsix
.git/
media/*dev*
impulse/configuration/org.eclipse.osgi
impulse/plugins/configuration/org.eclipse.osgi
impulse/plugins/configuration/*.log
media/links
node_modules/
.impulse/
.vscode/
scripts/
