## Version Date
- Info
- [IMPROVEMENT]  Table column resize
- [IMPROVEMENT]  Table column reorder (drag/drop)
- [IMPROVEMENT]  Progress Dialog
- [BUG]  Drag/Drop conflicts with sash operations
- [BUG]  Table background not visible after hor. scroll