<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.toem.toolkits.pattern.serializer">   
      <serializer
            contentType="de.toem.impulse.contentType.evcd"
            defaultConfiguration="true"
            description="%serializer.description.evcd"
            id="de.toem.impulse.serializer.converter.evcd"
            label="%serializer.label.evcd"
            group="de.toem.impulse.group.hdl" 
            reader="de.toem.impulse.extension.hdl.converter.EVcdReader">
      </serializer>  
      <serializer
            contentType="de.toem.impulse.contentType.lxt2"
            defaultConfiguration="true"
            description="%serializer.description.lxt"
            id="de.toem.impulse.serializer.converter.lxt"
            label="%serializer.label.lxt"
            group="de.toem.impulse.group.hdl" 
            reader="de.toem.impulse.extension.hdl.converter.Lxt2Reader">
      </serializer> 
      <serializer
            contentType="de.toem.impulse.contentType.vzt"
            defaultConfiguration="true"
            description="%serializer.description.vzt"
            id="de.toem.impulse.serializer.converter.vzt"
            label="%serializer.label.vzt"
            group="de.toem.impulse.group.hdl" 
            reader="de.toem.impulse.extension.hdl.converter.VztReader">
      </serializer>   
      <serializer
            contentType="de.toem.impulse.contentType.fsdb"
            defaultConfiguration="true"
            description="%serializer.description.fsdb"
            id="de.toem.impulse.serializer.fsdb"
            label="%serializer.label.fsdb"
            group="de.toem.impulse.group.hdl" 
            reader="de.toem.impulse.extension.hdl.fsdb.FsdbReader">
      </serializer>
      <serializer
            contentType="de.toem.impulse.contentType.wlf"
            defaultConfiguration="true"
            description="%serializer.description.wlf"
            id="de.toem.impulse.serializer.wlf"
            label="%serializer.label.wlf"
            group="de.toem.impulse.group.hdl" 
            reader="de.toem.impulse.extension.hdl.wlf.WlfReader">
      </serializer>
      <serializer
            contentType="de.toem.impulse.contentType.fst"
            defaultConfiguration="true"
            description="%serializer.description.fst"
            id="de.toem.impulse.serializer.fst"
            label="%serializer.label.fst"
            group="de.toem.impulse.group.hdl" 
            reader="de.toem.impulse.extension.hdl.fst.FstReader">
      </serializer>      
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="de.toem.impulse.contentType.record"
            file-extensions="evcd"
            id="de.toem.impulse.contentType.evcd"
            name="%content-type.name.evcd"
            priority="normal">
         <describer
               class="de.toem.impulse.serializer.RecordContentDescriber"
               plugin="de.toem.impulse.base">
            <parameter
                  name="contentType"
                  value="de.toem.impulse.contentType.evcd">
            </parameter>
         </describer>
      </content-type>
      <content-type
            base-type="de.toem.impulse.contentType.record"
            file-extensions="lxt2"
            id="de.toem.impulse.contentType.lxt2"
            name="%content-type.name.lxt"
            priority="normal">
         <describer
               class="de.toem.impulse.serializer.RecordContentDescriber"
               plugin="de.toem.impulse.base">
            <parameter
                  name="contentType"
                  value="de.toem.impulse.contentType.lxt2">
            </parameter>
         </describer>
      </content-type>
      <content-type
            base-type="de.toem.impulse.contentType.record"
            file-extensions="vzt"
            id="de.toem.impulse.contentType.vzt"
            name="%content-type.name.vzt"
            priority="normal">
         <describer
               class="de.toem.impulse.serializer.RecordContentDescriber"
               plugin="de.toem.impulse.base">
            <parameter
                  name="contentType"
                  value="de.toem.impulse.contentType.vzt">
            </parameter>
         </describer>
      </content-type>


      <content-type
            base-type="de.toem.impulse.contentType.record"
            file-extensions="fsdb"
            id="de.toem.impulse.contentType.fsdb"
            name="%content-type.name.fsdb"
            priority="normal">
         <describer
               class="de.toem.impulse.serializer.RecordContentDescriber"
               plugin="de.toem.impulse.base">
            <parameter
                  name="contentType"
                  value="de.toem.impulse.contentType.fsdb">
            </parameter>
         </describer>
      </content-type>
      <content-type
            base-type="de.toem.impulse.contentType.record"
            file-extensions="wlf"
            id="de.toem.impulse.contentType.wlf"
            name="%content-type.name.wlf"
            priority="normal">
         <describer
               class="de.toem.impulse.serializer.RecordContentDescriber"
               plugin="de.toem.impulse.base">
            <parameter
                  name="contentType"
                  value="de.toem.impulse.contentType.wlf">
            </parameter>
         </describer>
      </content-type>
      <content-type
            base-type="de.toem.impulse.contentType.record"
            file-extensions="fst"
            id="de.toem.impulse.contentType.fst"
            name="%content-type.name.fst"
            priority="normal">
         <describer
               class="de.toem.impulse.serializer.RecordContentDescriber"
               plugin="de.toem.impulse.base">
            <parameter
                  name="contentType"
                  value="de.toem.impulse.contentType.fst">
            </parameter>
         </describer>
      </content-type>
            
   </extension>
   <extension
         point="de.toem.toolkits.ui.dialog">
      <dialog
            class="de.toem.impulse.extension.hdl.fst.FstReaderNativeDialog"
            id="de.toem.impulse.dialog.fst.native"
            label="%dialog.name.fst">
      </dialog>
            <dialog
            class="de.toem.impulse.extension.hdl.fsdb.FsdbReaderNativeDialog"
            id="de.toem.impulse.dialog.fsdb.native"
            label="%dialog.name.fsdb">
      </dialog>
            <dialog
            class="de.toem.impulse.extension.hdl.wlf.WlfReaderNativeDialog"
            id="de.toem.impulse.dialog.wlf.native"
            label="%dialog.name.wlf">
      </dialog>
   </extension>     
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="help/help.xml"
            plugin="de.toem.impulse.serializer.hdl">
      </contexts>
   </extension>  
   <extension
         point="de.toem.toolkits.pattern.group">
      <group
            description="%group.description.hdl"
            icon="icons/extension.png"
            id="de.toem.impulse.group.hdl"
            label="%group.label.hdl">
      </group>
   </extension>     
</plugin>
